* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.navbar {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    font-family: 'Roboto';

}

.navlogo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    font-weight: 200;
}

.navlogo p {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #74c8ce;
    background-image: linear-gradient(to right, #74c8ce 30%, #7ba9d5 70%);
    background-size: cover;
    background-position: center;
}

.navlogo img {
    margin: 0 10px 0 10px;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px 0 10px;
}

nav ul li a {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.hero {
    background-image: url("./images/bgk-header.png");
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.herotext {
    width: 45vw;
    text-align: center;
    margin-top: 50px;
}

.solid {
    width: 60px;
    border-color: #74c8ce;
    margin: auto;
    margin-bottom: 20px;
}

.hero h1 {
    color: white;
    font-family: 'Playfair Display';
    margin-bottom: 20px;
}

.hero p {
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 170%;
}

.herobutton {
    background-color: transparent;
    border-color: #74c8ce;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: #74c8ce;
    margin: 50px;
    padding: 10px;
}

#our-story {
    width: 100%;
}

#our-story .story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.story img {
    height: 300px;
    padding-top: 50px;
    margin: 0 50px 0 50px;
}

.our-story-text {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

#our-story h2 {
    font-family: 'Playfair Display';
    margin-bottom: 20px;
    margin-top: 50px;
}

#our-story p {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 170%;
}

#our-story button {
    background-color: transparent;
    border-color: #74c8ce;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: #74c8ce;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 50px;
}


#watch {
    background-image: url("./images/bgk-middle.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}


#watch img {
    padding: 20px;
}

#watch h2 {
    font-family: 'ROBOTO';
    font-weight: 400;
}


#expertise-section {
    width: 100%;
    margin-bottom: 100px;
}

#expertise-section > div > h2 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

#expertise-section>div>p {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

hr {
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 0.5px;
    background-color: gray;
    border: none;
    margin-bottom: 30px;
}

.exp-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertise-firstRow,
.expertise-secondRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#seperator {
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background-color: #e6e6e6;
    border: none;
    margin: 10px;
}

.expertise-firstRow>div,
.expertise-secondRow>div {
    width: 20%;
    height: 100%;
    border-right: 1px solid #e6e6e6;
}

.expertise-firstRow>div:last-child,
.expertise-secondRow>div:last-child {
    border-right: none;
}

.expertise-image-container {
    width: 100%;
    height: 50%;
}


.expertise-firstRow>div>h3,
.expertise-secondRow>div>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.expertise-firstRow>div>p,
.expertise-secondRow>div>p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

#team-section {
    background-image: url("./images/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 700px;
    padding-bottom: 200px;
}

#team-section h2 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 100px;
}

#team-section>div>p {
    font-family: "Playfair Display";
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

.team-container {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team-member-card {
    width: 200px;
    height: 90%;
    margin: 0px 10px;
    background-color: transperent;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.team-member-image-container {
    width: 100%;
    height: 75%;
    background-color: white;
}

.team-member-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.team-member-info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: white;
}

.team-member-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

.hire-container {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.hire-container p {
    padding-top: 20px;
    padding-bottom: 25px;
}

.hire-container > a {
    text-decoration: none;
    color: #74c8ce;
    text-transform: uppercase;
    border: 1px solid #74c8ce;
    border-radius: 2px;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

.hire-container > a:hover {
    background-color: #74c8ce;
    color: black;
}

#ContactUs {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 66%;
    margin: 5% auto 5% auto;
}

#contactForm {
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2%;

}

#contactForm h3 {
    color: hwb(0 0% 100% / 0.69);
    font-size: 150%;
}

#contactForm input {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.4px;
    border-style: solid;
    border-color: lightgray;
}

#contactForm textarea {
    height: 35%;
    border-color: lightgray;
    padding-top: 5%;
    padding-bottom: 7%;
}

#contactForm ::placeholder {
    color: #6b4c4c7e;
    font-size: 110%;
    padding-left: 5%;
}

#contactForm button {
    background-color: transparent;
    border-color: #74c8ce;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: #74c8ce;
    padding: 10px;
    width: 35%;
}
#contactForm button:hover{
    background-color: #74c8ce;
    border-color: white;
    color: white;
}

#happyClients {
    height: 60vh;
    width: 48%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: max-content;
    margin-top: 16px;
}

#happyClients h3 {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-left: 16%;
    height: fit-content;
    align-self: top;
    height: 5vh;
    padding-bottom: -9%;
    font-size: 150%;
    color: hwb(0 0% 100% / 0.69);
    width: 100%;
}

#happyClients img {
    height: fit-content;
    width: fit-content;
    inline-size: 40%;
    justify-self: center;
    align-self: center;

}


footer {
    background-image: url("./images/bgk-footer.png");
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    height: 350px;
    width: 100%;
    color: white;
    font-weight: lighter;
    font-size: 90%;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
}

#footer1box {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 66%;
    height: 26vh;
    column-gap: 3%;
    line-height: 3vh;
    margin: 5% auto 3% auto;
}

#logoSection {
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;

}

#compLogo {
    margin-right: 0.4vw;
    height: 6vh;
    width: auto;
    position: relative;

}

#logoSection span {
    color: rgb(48, 184, 184);
    font-family: Roboto;
    font-size: 195%;
    font-weight: 100;
    height: 35%;
    padding-left: 2%;
    margin-bottom: 28%;
    align-self: center;
}

#shortText {
    font-family: Roboto;
    width: 88%;
}

#footer1box span {
    font-weight: bold;
    color: white;
}

#addressblock {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: auto;
    justify-items: center;
}

#addressblock a {
    height: 2.3vh;
    width: 70%;
    inline-size: auto;
}

#addressblock p {
    width: 80%;
}

#SocMedia {
    display: flex;
    flex-direction: column;
}

#communication {
    display: flex;
    flex-direction: column;
}

#subs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 3vh;
}

#subs input {
    height: 45px;
    background: transparent;
    border: 1px solid lightgray;
    font-size: 16px;
    color: white;
    padding-left: 4px;
    width: 75%;
}

#subs ::placeholder {
    color: lightgray;
}

#subs img {
    margin-left: 2%;
    height: 45px;
    padding: 4% 7%;
    background-color: rgb(255, 255, 255, 0.44);
    width: 23%;
}

#subs img:hover {
background-color: white;
cursor: pointer;
}
#socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 30px;
    width: 100%;
    justify-content: space-evenly;
}

#socialIcons img {
    margin-right: 3px;
}

#socialIcons img:hover {
    margin: auto;
    cursor: pointer;
}
#footer2box {
    display: inline-flex;
    flex-direction: row;
    width: 66%;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 3vh;
    margin: 2% auto 2% auto;
}

#ft2links {
    width: 50%;
    flex-wrap: nowrap;
    justify-items: space-between;
}

#ft2links a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 5%;
    padding: 0% 2% 0% 1%;
}
#ft2links a:hover{
    color: white;
    text-decoration: underline;
    font-size: 100%;
}


#© {
    width: 40%;
    text-align: end;
}


@media only screen and (max-width: 1024px) {

    .expertise-firstRow>div,
    .expertise-secondRow>div {
        width: 22%;
    }

}


@media only screen and (max-width: 896px) {

    #team-section {
        height: 950px;
    }

    .team-member-card {
        height: 60%;
        margin: 15px 10px;
    } 

    .hire-container p {
        padding-top: 160px;
    }

    .expertise-firstRow>div,
    .expertise-secondRow>div {
        width: 27%;
    }


}
@media only screen and (max-width: 800px) {

    .expertise-firstRow>div,
    .expertise-secondRow>div {
        width: 100%;
    }
}

@media only screen and (max-width: 1190px) and (min-width:1020px){
    #ContactUs, #footer1box, #footer2box{
        width: 70%;
        column-gap: 2%;
    }
    footer{
        height: 360px;
    }
    #happyClients  img{
        max-width:100%;
        max-height:100%;
    }
}

@media only screen and (max-width: 1019px) and (min-width:830px){
    #ContactUs, #footer1box, #footer2box{
        width: 90%;
        column-gap: 2%;
    }
    footer{
        height: 360px;
    }
    #happyClients  img{
        max-width:100%;
        max-height:100%;
    }
}

@media only screen and (max-width: 829px) and (min-width:790px){
    #ContactUs, #footer1box, #footer2box{
        width: 95%;
        column-gap: 3%;
    }
    
    footer{
        height: 360px;

    }
    #happyClients  img{
        max-width:100%;
        max-height:100%;
    }
}
@media only screen and (max-width: 789px) and (min-width:680px){
    #ContactUs, #footer1box, #footer2box{
        width: 95%;
        
    }

    footer{
        height: 360px;
    }
    #footer1box {
        column-gap: 0.5%;

    }
    #footer2box {
margin-bottom: 3%;
    }
    #ft2links {
         width: 55%;
    }
    #©{
        width: 44%;
    }
    #happyClients  img{
        max-width:100%;
        max-height:100%;
    }

}
@media only screen and (min-width:680px){
#happyClients  img{
    inline-size: 80px;
    margin: 0px 3px;
    max-width:100%;
    max-height:100%;
}
}
@media only screen and (max-width: 679px) {
    #ContactUs, #footer1box, #footer2box{
        width: 90%;
    }

    #ContactUs{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5% auto 0% auto;
        height: 516px;
    }

    #contactForm{
        height: auto;
        width: 80%;
        justify-content: space-evenly;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    #contactForm h3{
        font-size: 15px;
        margin-bottom: 5px;
    }
    #contactForm input{
        height: 28px;
        padding-left: 10px;
        margin: 5px 0px;
        width: 70%;
    }
    #contactForm textarea{
        height: 220px;
        padding-left: 5px;
    }
    #contactForm button {
        height: 30px;
        width: 100px;
        margin-bottom: 10%;
        margin-top: 10px;
    }
    #contactForm ::placeholder {
        color: #6b4c4c7e;
        font-size: 80%;
        padding-left: 5%;
    }
    #happyClients{
        height: 80px;
        width: 100%;
        margin: auto 0px 3px 0px;
        grid-template-columns: auto auto auto auto auto;
        background-color: gold;
        padding: 5px 5px;
        align-content: space-evenly;
    }
    #happyClients h3 {
        display: none;
    }
    #happyClients #a {
        width: 51px;
        height: 16px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
        padding: 3px;

    }
    #happyClients #b {
        width: 56px;
        height: 16px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #c {
        width: 69px;
        height: 16px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #d {
        width: 53px;
        height: 16px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #e {
        width: 70px;
        height: 16px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #f {
        width: 50px;
        height: 18px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #g {
        width: 50px;
        height: 32px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #h {
        width: 50px;
        height: 23px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #i {
        width: 55px;
        height: 28px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    #happyClients #j {
        width: 55px;
        height: 28px;
        margin: auto auto;
        max-width:100%;
        max-height:100%;
    }
    footer{
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
    }

    #footer1box {
        display: flex;
        flex-direction: column-reverse;
        width: 96%;
        height: auto;
        margin: 2% 2% 2% 2%;
    }
    #compLogo {
        display: none;
    }
    #shortText {
        display: none ;
    }
    #footer1box span {
        display: none;
    }
    #addressblock{
        font-size: small;
        width: 220px;
        height: 64px;
        margin-top: 21px;
        align-self: center;
    }
    #addressblock p {
        width: 82%;
        line-height: 15px;
    }

    #communication{
        width: 358px;
        margin: 0px auto;
    }
    #subs{
        height: 30px;
        margin-bottom: 30px;
        width: 246px;
        align-self: center;
    }
    #subs img{
        height: 30px;
        margin-top: 10px;
        margin-left: 1px;
        padding: 2% 3%;
    }
    #subs input{
        width: 195px;
        height: 30px;
        font-size: 13px;
        padding-left: 7px;
        margin-right: 3px;
        margin-top: 10px;
    }
    #socialIcons {
        display: grid;
        grid-template-columns: auto auto auto;
        height: 91px;
        width: auto;
        position: relative;
        justify-content: space-evenly;
    }
    #socialIcons img {
        padding: 3%;
    }
    #footer2box {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 100%;
        margin-top:6px;
        align-items: center;
        align-self: center;
        justify-content: center;
        bottom: 0%;
    }
    #ft2links{
        height: auto;
        width: 100%;
        font-size: small;
        text-align: center;
        margin-bottom: 8px;
    }
    #©{
        font-size: xx-small;
        text-align: center;
        align-self: center;
        flex-wrap: nowrap;
        width: 100%;
        padding-top: 7px;
    }
}
